<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encurtador de Links</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<style>
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }
</style>

<body>
    <div class="container">
        <h1 class="display-4">Encurtador de URL</h1>
        <p class="lead">Grátis, fácil e open-source</p>
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.extra_tags }}" role="alert">
            {{ message|safe }}
        </div>
        {% endfor %}
        {% else %}
        <form method="post" enctype="multipart/form-data" action="{% url 'new_url' %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-12 url-group">
                    <input type="text" class="form-control" name="url" placeholder="Url" required>
                    <div class="invalid-feedback">
                        Por favor, insira uma URL válida.
                    </div>
                </div>
                <div class="form-group col-12">
                    <input type="checkbox" name="expiravel_check"> <label>Não expirável</label>
                    <input type="datetime-local" name="data_expiracao" class="form-control" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
        </form>
        {% endif %}
    </div>

    <script>
        const expCheck = document.querySelector('input[name=expiravel_check]');
        const dtExp = document.querySelector('input[name=data_expiracao]');

        expCheck.addEventListener('change', () => {
            dtExp.toggleAttribute("disabled");
            dtExp.toggleAttribute("required");
        });

    </script>

    <script>
        const re = /[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/;
        const urlField = document.querySelector('input[name=url]')
        const button = document.querySelector('button')

        urlField.addEventListener('blur', () => {
            if (re.test(urlField.value) == false){
                urlField.classList.add('is-invalid');
                button.disabled = true
            }else{
                urlField.classList.remove('is-invalid')
                button.disabled = false
            }
        })

    </script>
</body>

</html>